.card {
  min-height: 550px;
  background-color: rgba(97, 127, 161, 0.519);
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  position:relative;

  img {
    width: 100%;
  }

  p {
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(0,0,0, 0.9);
    font-size: 25px;
  }

  button {
    height: 24px;
    width: 50%;
    position: absolute;
    bottom: 0;
    background-color: rgb(142, 142, 199);
    border: unset;
    border-top: 1px solid rgba(0,0,0, 0.5);
    cursor: pointer;

    &:first-child {
      left: 0;
    }

    &:last-child {
      border-left: 1px solid rgba(0,0,0, 0.5);
      right: 0;
    }

    &:hover {
      background-color: rgb(94, 94, 154);
    }

  }
}
